.table {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-collapse: collapse;
  z-index: 2;
  font-size: 13px;
}

.table th {
  padding: 5px;
  text-align: left;
}

.total {
  border-top: 1px solid black;
}

.cost {
  text-align: right;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
