* {
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  top: 0;
  left: 0;
  width: 81px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #dedede;
  z-index: 100000;
}

.sidebar-icon {
  flex: 0 0 40px;
  cursor: pointer;
  height: 40px;
  border: 0;
  padding: 4px;
  background: none;
  color: #565656;
}

.sidebar-icon:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(49, 90, 165, 0.1);
}

.sidebar-icon-active {
  color: rgb(49, 90, 165);
  background-color: rgba(49, 90, 165, 0.05);
}

.sidebar-icon[active] {
  color: #000;
}

.sidebar-icon[disabled] {
  opacity: 0.3;
}

.sidebar-icon:not([disabled]):hover {
  color: rgb(49, 90, 165);
}
